@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
.img{
  height: 80vh;
  width: 99.9vw;
  background-image: url(../../assets/fachadaRdm.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  overflow: hidden;
}
.img img{
  height: 100%;
  width: 100%;
  opacity: 0.5;
  object-fit: cover;
}
.conteudo-home{
  padding: 30px;
}
.conteudo-home .inicial{
  font-size:1.5rem;
  text-align: justify;
  padding: 0 40px; 
  font-family: "Poppins", sans-serif;
}
.cards{
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(470px, 1fr));
  width: 98%;
}


@media (max-width: 600px){
  
}
@media (max-width:600px) {
  .conteudo-home{
    padding: 3px;
  }
  .cards{
    padding: 0px;
    margin-top: 20px;
    position: relative;
    top: 7px;
    right: 8px;
    diplay: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 100%;
  }
}