.top{
  width: 100vw;
  height: 110px;
  padding: 0;
  background-color: #323232
}
.download{
  width: 95%;
  margin: 0 auto;
  margin-top: 20px;
}
.cardDownload{
  position: relative;
  right: 25%;
}
.downloads #details{
  font-size: 1.5rem;
  font-weight: semi-bold;
  width: 100%;
  text-align: center;
  margin: 40px 0;
}
.btn{
  width: 350px;
  padding: 5px;
}
.btn button{
  margin-bottom: 10px;
  margin-left: 20px;
}