.container{
  margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
  padding: 10px;
  margin: 0 auto;
  width: 95%;
}
.title{
  text-align: center;
  font-size: 2rem;
  padding: 5px;
  margin-top: 15px;
  font-weight: bold;
}
.container-facilidade{
  width: 97%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 auto;
  gap: 50px;
  padding: 20px 80px;
}
@media (max-width: 600px) {
  .container{
    margin-top: 10px;
    diplay: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 97%;
  }
}