.top{
  width: 100vw;
  height: 110px;
  padding: 0;
  background-color: #323232;
}
.sobre{
  width: 83%;
  margin: 0 auto;
  margin-top: 20px;
  padding: 50px;
}
.sobre p {
  font-size: 1.3rem;
  text-justify: justify;
  line-height: 2rem;
}
.downloads #details{
  font-size: 1.5rem;
  font-weight: semi-bold;
  width: 100%;
  text-align: center;
  margin: 40px 0;
}