header{
  z-index: 999;
  position: fixed;
  width: 98%;
  top: 10px;
  margin: 0 0.8vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 90px;
  transition: 0.5s ease;
  background: #323232;
}

header .brand img{
  width: 112px;
}
header .navigation{
  position: relative;
}
header .navigation .navigation-items a{
  position: relative;
  color: #fff;
  font-size: 1.1em;
  font-weight: 500;
  text-decoration: none;
  margin-left: 30px;
  transition: 0.3s ease;
  padding: 5px;
  text-transform: uppercase;
  cursor: pointer;
}

header .navigation .navigation-items a:last-child{
  border: 2px solid #fff;
  padding: 10px;
  border-radius: 5rem;
}
header .navigation .navigation-items a:last-child:hover{
  border: 2px solid #ee961a;
  color: #ee961a;
  transition: 0.3s ease-in-out;
}
header .navigation .navigation-items a:not(:last-child):before{
  content: '';
  position: absolute;
  background: #ee961a;
  width: 0;
  height: 3px;
  bottom: -2px;
  left: 0;
  transition: 0.3s ease;
}

header .navigation .navigation-items a:not(:last-child):hover:before{
  width: 100%;
}

@media (max-width: 1040px){
  header{
    padding: 12px 20px;
  }
  
  header .navigation{
    display: none;
  }

  header .navigation.active{
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(1, 1, 1, 0.5);
  }

  header .navigation .navigation-items a{
    color: #222;
    font-size: 1.2em;
    margin: 20px;
  }

  header .navigation .navigation-items a:before{
    background: #222;
    height: 5px;
  }

  header .navigation.active .navigation-items{
    background: #fff;
    width: 600px;
    max-width: 600px;
    margin: 20px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    box-shadow: 0 5px 25px rgb(1 1 1 / 20%);
  }

  .menu-btn{
    background: url("../../assets/menu.png") no-repeat;
    background-size: 30px;
    background-position: center;
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: 0.3s ease;
  }

  .menu-btn.active{
    z-index: 999;
    background: url("../../assets/close.png") no-repeat;
    background-size: 25px;
    background-position: center;
    transition: 0.3s ease;
  }
}